<div class="filter-container">
<select class="tags">
     <option data-url="{{@site.url}}">Все цвета</option>
     <option data-url="/tag/jeltie" >Жёлтые</option>
     <option data-url="/tag/oranjevie" >Оранжевые</option>
     <option data-url="/tag/krasnie" >Красные</option>
     <option data-url="/tag/violet" >Фиолетовые</option>
     <option data-url="/tag/sinie" >Синие</option>
     <option data-url="/tag/zelenie" >Зелёные</option>
     <option data-url="/tag/serie">Серые</option>
     <option data-url="/tag/korichnevie" >Коричневые</option>
     <option data-url="/tag/belie">Белые и чёрные</option>
</select>
</div>
