<div class="post-color-cards">
	<div class="post-color-card-box">&nbsp;</div>
	<div class="post-color-card-name">
		<span>p</span>
                <h4>RAL-номер</h4>  
		<p>{{excerpt}}</p>
	</div>
	<div class="post-color-card-fullname">
		<span></span>
                <h4>Имя</h4>  
		<p>{{title}}</p>
	</div>
	<div class="post-color-card-hex">
		<span>b</span>
	        <h4>HEX-код</h4>
                <p></p>		
	</div>
</div>