{{!<default}}
{{!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template --}}

{{#is "home"}}
    {{#if @site.description}}
    <header class="page-head">
        <h2 class="page-head-title">{{@site.description}}</h2>
    </header>
    {{/if}}
{{/is}}

<div>

<div class="post-feed" id="qqmoreIShomeT">
    {{#foreach posts order="published_at desc"}}

        {{!-- The tag below includes the markup for each post - partials/post-card.hbs --}}
        {{> "post-card"}}

    {{/foreach}}
</div>
</div>

